* {
    margin: 0;
    padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.header {
    padding: 18px 216px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h3 {
    font-size: 24px;
}

.header a {
    text-decoration: none;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 36px;
}

.main {
    padding: 144px 216px;
    display: flex;
    gap: 180px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;
}

.main h1  {
    font-size: 48px;
    font-weight: 900;
}

.header, 
.main {
    background-color: #1f2937;
}

.header h3, 
.main h1 {
    color: #f9faf8;
}

.header a, 
.main p {
    color: #e5e7eb;
}

.main button {
    padding: 8px 32px;
    font-size: 18px;
    font-weight: 900;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 9px;
    border: none;
}

.main img {
    height: auto;
    width: 500px;
}

.information h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.information img {
    height: auto;
    width: 200px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.information p {
    color: #808080;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 54px 216px 126px;
    gap: 54px;
}

.information .info-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 12px;
}

.information .info {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.quote p {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote .cite {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}