* {
    margin: 0;
    padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.header {
    background-color: #1f2937;
}

.header h3 {
    font-size: 24px;
    color: #f9faf8;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
}

.header ul {
    list-style-type: none;
}